{% extends "paginated_table.html" %}
{% block head_title %}Genres{% endblock %}

{% block page-header %}Genres{% endblock page-header %}

{%block table_head %}
    <th>ID</th>
    <th>Name</th>
{% endblock %}
{%block table_body %}
    {% for genre in paginator %}
        <tr>
            <td> <a href="{% url 'genre_detail' genre.name %}"> {{genre.id}} </a> </td>
            <td> <a href="{% url 'genre_detail' genre.name %}"> {{genre.name}} </a> </td>
        </tr>
    {% endfor %}
{% endblock %}
