{% extends "base.html" %}
{% block head_title %}GameBean{% endblock %}

{% load GameBeanExtras %}
{% block content %}



  <div class="jumbotron">
    {% if messages %}
      {% for message in messages%}
            <div class="alert alert-success fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{message|safe}}
            </div>
      {% endfor %}
    {% endif %}
    <div class="container">

    <style>
      .review{
        color:white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
      .review_alt{
        color:green;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
      .top_review-div{
        -moz-background-size:100% 100%;
        -webkit-background-size:100% 100%;
        background-size:100% 100%;
        height:300px;
        border: 5px solid #333333;
        border-style: ridge;

      }
    </style>
    <div class="container ">
        {% for review in reviews %}
        <!-- <img width=200 height=200 src="{{review.game.image_url}}"> -->

          <div class="container col-sm-6 top_review-div" style="background-image:url({{review.game.image_url}});">

            <h2 class="review" >{{review.game.name}}</h2>
            <h3 class="review">{{review.title}}</h3>
            <h4 class="review" style="overflow: hidden; text-overflow: ellipsis;"> {{review.text}} </h4>
            <h4 class="review"><span><strong>By</strong> <a style="text-shadow:none" href="{% url 'profile' review.reviewer.username %}">{{review.reviewer.username}}<a> </span></h4>
            <a class="btn btn-primary btn-lg" href="/GameBean/Games/{{review.game.name}}/#{{review.reviewer.username}}">Read review&raquo;</a>
            <!-- {% url 'game_detail' review.game.name%} -->
          </div>
          </a>
        {% endfor %}
    </div>
  </div>
  <div class="container">
    <h1>Welcome to GameBean!</h1>
    <p>GameBean is a huge database of Video games, all the data comes from Giantbomb's generous API which exposes their game database. GameBean is an Open Source project. Get started by searching for a game or you can browse the game directory. ENJOY!</p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Learn more about GameBean &raquo;</a></p>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Games Listing</h2>
        <p>View our massive games listing</p>
        <p><a class="btn btn-default" href="{% url 'games' %}" role="button">Games! &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Browse by Genre</h2>
        <p>Don't know what you looking for? Browse games by genre!</p>
        <p><a class="btn btn-default" href="{% url 'genres' %}" role="button">Genres! &raquo;</a></p>
     </div>
      <div class="col-md-6">
        <h2>Game Developers</h2>
        <p>Have a favorite developer? Want to know more of their games? Search for a games from a specific developer</p>
        <p><a class="btn btn-default" href="{% url 'developers' %}" role="button">Developers! &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Browse by Platform</h2>
        <p>Looking for new games on your platform? Browse games that are on your system!</p>
        <p><a class="btn btn-default" href="{% url 'platforms' %}" role="button">Platforms! &raquo;</a></p>
      </div>
    </div>
  </div> <!-- /container -->
{% endblock %}
