{% extends "paginated_table_with_detail.html" %}
{% block head_title %} {{detail_item.name}} {% endblock head_title %}

{%block table_head %}
    <th>Image</th>
    <th>Name</th>
{% endblock %}
{%block table_body %}
    {% for game in paginator %}
        <tr>
            <td>
              {% if game.image_url %}
                  <img src="{{game.image_url}}" style="max-height:50px">
              {% endif %}
            </td>
            <td> <a href="{% url 'game_detail' game.name %}"> {{game.name}} </a> </td>
        </tr>
    {% endfor %}
{% endblock %}
