{% extends "paginated_table.html" %}
{% block head_title %}{% endblock %}


{% block optional_detail %}
<div class="jumbotron" style="padding:10px 10px 10px 10px">
    <!-- <img src="{{detail_item.image_url}}"/> -->
    <h1> {{detail_item.name}} </h1>
    {% autoescape off %}
        {% if detail_item.deck %}
            <h2> <small> {{ detail_item.deck }} </small> </h2>
        {% endif %}
        {% if detail_item.description %}
            <p> {{ detail_item.description }} </p>
        {% else %}
            <h2> <small> No description </small> </h2>
        {% endif %}
    {% endautoescape %}
</div>
{%endblock%}
